/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    overflow: hidden;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 100svh;
    position: relative;
    overflow-y: auto;
}

.main .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}


.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    /*margin: 50px 0;*/
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    overflow-x: auto;
    margin-bottom: 10rem;
}

.cards::-webkit-scrollbar {
    display: none;
}

.main .card {
    height: 200px;
    min-width: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #dfe4ea;
}

.main-bottom {
    position: fixed;
    width: min(900px, 100%);
    bottom: 0;
    padding: 10px 20px 0 20px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: #ffffff 0 -20px 50px;
    box-shadow: #ffffff 0 -20px 50px;
}

.search-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 8px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box textarea {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding-inline: 8px;
    font-size: 18px;
    padding: 0.85rem;
    resize: none;
}

.search-box textarea::-webkit-scrollbar {
    display: none;
}

.search-box div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.bottom-info a {
    color: #585858;
}

.icon-container button {
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    border-radius: 100vh;
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    place-items: center;
}

.icon-container button:hover {
    background-color: #e8eaed;
}

.result {
    padding: 0 max(5%, 1rem);
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.result-title p {
    word-break: break-all;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background: #f6f7f8 -webkit-gradient(linear, left top, right top, from(#9ed7ff), color-stop(#ffffff), to(#9ed7ff));
    background: #f6f7f8 -o-linear-gradient(left, #9ed7ff, #ffffff, #9ed7ff);
    background: #f6f7f8 linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    -webkit-animation: loader 3s infinite linear;
    animation: loader 3s infinite linear;
}


@-webkit-keyframes loader {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}


@keyframes loader {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 10vh;
}


@media (max-width: 600px) {

    .search-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        border-radius: 15px;
        padding: 10px 20px;
        gap: 10px;
    }

    .search-box textarea {
        width: 100%;
        padding: 15px 10px;
    }

    .main-bottom img {
        width: 20px;
    }

    .search-box div {
        gap: 5px;
        margin-left: auto;
    }

    .greet {
        margin: 0 0;
        padding-left: 22px;
    }

    .main .greet {
        font-size: 2.5rem;
        line-height: 1.1;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        position: fixed;
        display: none;
    }
}

@media (min-width: 800px) {
    .greet {
        margin-bottom: 25px;
    }
}